@use '@/styles/vars/vars.scss';
@use '@/styles/mixins/mixins.scss';

.logo {
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      img {
        scale: 1.05;
      }
    }
  }

  img {
    width: 165px;
    height: 29px;
    object-fit: contain;
    transition: vars.$duration scale vars.$timing;

    @media (width < vars.$media-768) {
      width: 110px;
      height: 19px;
    }
  }
}
