@use '@/styles/vars/media.scss';

* {
  //outline: 1px solid green;
  -webkit-tap-highlight-color: transparent;
}

html:not(.transition) {
  * {
    transition-duration: 0ms !important;
  }
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 80px;

  @media (width < media.$media-1280) {
    scroll-margin-top: 60px;
  }
}

img,
picture {
  overflow: hidden;
}

[hidden] {
  display: none;
}
