@use '@/styles/vars/media.scss';

* {
  // outline: 1px solid green;
  -webkit-tap-highlight-color: transparent;
}

html:not(.transition) {
  * {
    transition-duration: 0ms !important;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 40px;
}

img,
picture {
  overflow: hidden;
}

[hidden] {
  display: none;
}
