@use '@/styles/vars/vars.scss';
@use '@/styles/mixins/mixins.scss';

.listing {
  &__header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 30px;

    @media (width < vars.$media-768) {
      align-items: center;
      margin-bottom: 15px;
    }
  }

  &__scroll {
    padding-bottom: 18px;
    overflow-x: auto;

    &.simplebar-scrollable-x {
      padding-left: var(--container-gap);
      padding-right: calc(var(--container-gap) + 15px);
      margin-left: calc(-1 * var(--container-gap));
      width: calc(100% + var(--container-gap) + var(--container-gap));

      .simplebar-offset {
        right: 15px !important;
      }
    }

    .ui-scrollbar__track--horizontal {
      --bar-left-h: 15px;
      --bar-right-h: 30px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 13px;
  }

  &__card {
    min-width: 275px;
  }
}
